

:root {
  --primary: #159102;
  --secondary: #68cf02;
  --tertiary: #93eb05;
  --light: #08f00c;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
}

body {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  text-align: center;
  background-image: linear-gradient(to bottom right, var(--primary), var(--secondary), var(--tertiary), var(--light) );

}

.navbar, .navbar-brand {
  font-size: 50px;
  margin: 10px 10px 10px 10px;
  display: inline;
  align-items: left;
  justify-content: center;
  width: 100%;
  
}

div.navbar-brand {
  padding-top: 2em;
  margin-bottom: 2em;
  
}

.navbar .navbar-brand .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
}

main {
  font-size: 20px;
  margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
  color: #107301;
  text-shadow: 1px 1px 1px #000000;
}



.profile-pic {
	clip-path: circle();
  width: 250px;
  border: #107301;
}

.label {
  text-align: left;
}

.footer {
  background-image: linear-gradient(to bottom right, var(--primary), var(--secondary), var(--tertiary), var(--light) );
  color: var(--light);
  text-shadow: 2px 2px 2px #000000;
}

.about-home {
  background-color: var(--dark);
}

.about-info {
  text-shadow: 3px 3px 3px #000000;

}

.field {
  margin: 10px 10px 10px 10px;
  display: inline;
  align-items: left;
  justify-content: center;
}

img {
  border: 10px #000000;
  border-radius: 35px;
}



@media only screen and (max-width: 1024px) {
    main {
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: 2em;
      margin-right: 2em;
    }
}
